@model SearchViewModel
@inject IStringLocalizer<Resource> _localizer
@{
  Layout = "layouts/_main.cshtml";
 
}

<main class="container search">
  <form action="/search" method="post">
        <input type="text" name="term" placeholder="Search..." class="form-control" autofocus>
  </form>

  </br>
  <h1 class="search-title">Search Results</h1>
  @foreach (var post in Model.Pager.Items)
  {
        var cover = !string.IsNullOrEmpty(post.Cover) ? $"{post.Cover}" : "/img/cover.jpg";

       <div class="row mb-3">
      <div class="col-4">
        <img src="@cover" alt="@post.Title">
      </div>
      <div class="col-8">
        <a href="~/post/@post.Slug">@post.Title</a>
        <p>@post.Description</p>
      </div>
    </div>
  }
</main>
